{% extends 'base.html' %}

{% block title %}Point cloud to CF-NetCDF{% endblock %}

{% block content %}
<style>
    .attribute-column {
        width: 20%;
    }

    .description-column {
        width: 30%;
    }

    .comment-column {
        width: 20%;
    }

    .input-column {
        width: 30%;
    }
</style>

<br><h3>Global attributes</h3><br>

<form method="POST">

    <table class="table">
        <thead>
            <tr>
                <th class="attribute-column">Attribute</th>
                <th class="description-column">Description</th>
                <th class="comment-column">Comment</th>
                <th class="input-column">Input</th>
            </tr>
        </thead>
        <tbody>
            {% for attribute in json_data %}
            <tr>
                <td>{{ attribute['Attribute'] }}</td>
                <td>{{ attribute['Description'] }}</td>
                <td>{{ attribute['Comment'] }}</td>
                <td>
                    {% if attribute['format'] == 'number' %}
                    <input type="number" step="0.0001" min="{{ attribute['min'] }}" max="{{ attribute['max'] }}" value="{{ attribute['value'] }}" class="form-control" name="{{ attribute['Attribute'] }}" {% if attribute['Requirement'] == 'Required' %}required{% endif %}>
                    {% elif attribute['choices'] and attribute['choices'] != '' %}
                    <select class="custom-select" name="{{ attribute['Attribute'] }}" aria-label="Default select example">
                        <option selected="selected">{{ attribute['value'] }}</option>
                        {% for option in attribute['choices'].split('; ') %}
                        <option>{{option}}</option>
                        {% endfor %}
                    </select>
                    {% elif attribute['Attribute'] == 'summary' %}
                    <textarea class="form-control" id="{{ attribute['Attribute'] }}" name="{{ attribute['Attribute'] }}" attributes="6">{{ attribute['value'] }}</textarea>
                    {% else %}
                    <input type="text" class="form-control" name="{{ attribute['Attribute'] }}" value="{{ attribute['value'] }}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="form-group attribute">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>


<script>
    // Activate tooltips
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}