{% extends 'base.html' %}

{% block title %}Point cloud to CF-NetCDF{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Upload a File</h2>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
{% endblock %}