{% extends 'base.html' %}

{% block title %}Preview DataFrame{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Data Preview: {{ filename }}</h3><br>
    <p>Please check the column headers and update them as necessary</p><br>

    <!-- Display DataFrame with editable column headers -->
    <div class="table-responsive mt-4">
        <form method="POST">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for header in column_headers %}
                            <th>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="header_{{ loop.index }}" value="{{ header }}">
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in df_rows %}
                        <tr>
                            {% for key, value in row.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br><br>
            <button type="button" class="btn btn-info" onclick="history.back()">Go back</button>
            <button type="submit" class="btn btn-primary" name="action" value="preview" class="btn btn-primary">Update and preview again</button>
            <button type="submit" class="btn btn-success" name="action" value="continue" class="btn btn-primary">Continue</button>
        </form>
    </div>
</div>
{% endblock %}
